@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sora:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;

}

header {
  background: linear-gradient(90.35deg, #030414 0.36%, #351C39 69.82%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left img {
  width: 50px;
  /* height: 30px; */
}

.nav-left h3 {
  font-size: 18px;
}

.nav-left {
  font-family: "Orbitron", sans-serif;
  color: rgba(255, 255, 255, 1);
  display: flex;
  font-weight: 700;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.nav-right a:nth-child(1),
.nav-right a:nth-child(2),
.nav-right a:nth-child(3),
.nav-right a:nth-child(4),
.nav-right a:nth-child(5),
.nav-right a:nth-child(6),
.nav-right a:nth-child(7)  {
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Sora", sans-serif;
}

.nav-right a:nth-child(1),
.nav-right a:nth-child(2),
.nav-right a:nth-child(3),
.nav-right a:nth-child(4),
.nav-right a:nth-child(5) {
  transition: text-decoration 0.1s ease, text-undrline-offset 0.3s ease;
}

.nav-right a:nth-child(1):hover,
.nav-right a:nth-child(2):hover,
.nav-right a:nth-child(3):hover,
.nav-right a:nth-child(4):hover,
.nav-right a:nth-child(5):hover {
  text-decoration: underline solid #B65CD9 2px;
  text-underline-offset: 8px;
}


.nav-right a:nth-child(6) {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  padding: 13px 20px;
  border-radius: 25px;
  font-size: 16px;
  transition: transform 0.3s ease;
  /* border: 1px solid;  */
  /* border-image-source: linear-gradient(90deg, #174993 0%, #892CAE 100%); */
}


.nav-right a:nth-child(6):hover {
  transform: rotate(-3deg);
}

.nav-right a:nth-child(7)  {
  display: flex;
  align-items: center;
  border: 1px solid;
  font-size: 16px;
  border: 1px solid;
  /* border-image-source: linear-gradient(90deg, #174993 0%, #892CAE 100%); */
  border-color: #174993 #892CAE  #892CAE  #174993;
  padding: 13px 20px;
  border-radius: 25px;
}

.nav-right a:nth-child(7) :hover img {
  transform: translateY(10px);
}

main {
    background: linear-gradient(to right, #3b203f 0%, #211329 40%, #050513 75%);
}

.hero-container {
  background: linear-gradient(90.35deg, #030414 0.36%, #351C39 69.82%);
}

.hero,
.About-section {
  color: rgba(255, 255, 255, 1);
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 0 25px;
  align-items: center;
  text-align: start;
  /* gap: 10px; */
}

.hero h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  max-width: 700px;
  font-weight: 600;
}

.hero p {
  font-size: 18px;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 30px;
  width: 700px;
}

.hero-content {
  flex: 1;
}

.hero-content2-img {
  height: 700px;
  /* object-fit: contain; */
  flex: 1;
  margin-left: 10px;
  width: 100%;
}

.hero-content-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.hero-content-buttons a {
  font-family: "Sora", sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.hero-content-buttons a:nth-child(1) {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #174993 0%, #892CAE 100%);
  padding: 13px 20px;
  border-radius: 25px;
  font-size: 16px;
  /* width: fit-content; */

}

.hero-content-buttons a:nth-child(2) {
  display: flex;
  align-items: center;
  border: 1px solid;
  font-size: 16px;
  border: 1px solid;
  border-color: #174993 #892CAE  #892CAE  #174993;
  padding: 13px 20px;
  border-radius: 25px;
}

.About-container {

  /* background: linear-gradient(90.35deg, #351C39 3%, #030414   67%); */
  /* background: linear-gradient(90.35deg, #351C39 0.36%, #030414   69.82%); */
}

.About-section img:nth-child(1) {
  width: 100%;
  height: 700px;
  object-fit: contain;
  flex: 1; 
}

.About-section-content2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.About-section-content2 h2 {
  font-size: 38px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  margin-bottom: 35px;
}

.About-section-content2 h3 {
  /* font-family: "Orbitron", sans-serif; */
  font-size: 26px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.About-section-content2 p {
  font-family: "Sora", sans-serif;
  font-size: 17px;
  width: 620px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 30px;
}

.features-section {
  max-width: 1100px;
  margin: 30px auto;
  color: rgba(255, 255, 255, 1);
  /* display: flex;
  flex-direction: column;  */
}

.features-section h2 {
  font-size: 36px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

.features-section p {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.features-content2 img:nth-child(1) {
  width: 100%;  
  object-fit: cover;
  margin-top: -400px;
  /* margin-bottom: -200px; */
}

.features-content {
  width: fit-content;
  text-align: center;
}

.features-content2 {
  position: relative;
}

.web-card,
.web-card2,
.web-card3,
.web-card4,
.web-card5,
.web-card6 {
  display: flex;
  flex-direction: column;
  background-color: #434141;
  padding: 15px ;
  width: fit-content;
  align-items: center; 
  border-radius: 20px;
}

.web-card {
  position: absolute;
  top: 13%;
  left: 55%;
}

.web-card2 {
  position: absolute;
  top: 13%;
  left: 17%;
}

.web-card3 {
  position: absolute;
  top: 33%;
}

.web-card4 {
  position: absolute;
  top: 58%;
  left: 15%;
}

.web-card5 {
  position: absolute;
  top: 59%;
  left: 57%;
}

.web-card6 {
  position: absolute;
  top: 35%;
  left: 70%;
}

.web-card h3,
.web-card2 h3,
.web-card3 h3,
.web-card4 h3,
.web-card5 h3,
.web-card6 h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.border-cont {
  border-top: 2px solid rgb(161, 160, 160);

}

.web-card p,
.web-card2 p,
.web-card3 p,
.web-card4 p,
.web-card5 p,
.web-card6 p {
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 260px;
  margin-top: 10px;
  line-height: 18px;
}

.use-cases-section {
  margin: -170px auto 70px;
  max-width: 1450px;
  /* padding-bottom: 100px; */
}

.use-cases-section-cont,
.Pricing-section-cont {
  text-align: center;
  margin-bottom: 30px;
}

.use-cases-section-cont h2,
.Pricing-section-cont h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
}

.use-cases-section-cont p,
.Pricing-section-cont p {
  font-family: "Sora", sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
}

.use-cases-section-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.team-card {
  background-color: rgb(38, 21, 46);
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  padding: 20px 10px;
  border-radius: 20px;
}

.team-card3 {
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  padding: 20px 10px;
  border-radius: 20px;
  background: linear-gradient(to right, rgb(60, 24, 79), rgb(43, 16, 66));
}

.team-card4 {
  background-color: rgb(43, 16, 66);
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  padding: 20px 10px;
  border-radius: 20px;
}

.team-card img:nth-child(1),
.team-card3 img:nth-child(1),
.team-card4 img:nth-child(1) {
  width: 40px;
  margin-bottom: 20px;
}

.team-card h3,
.team-card3 h3,
.team-card4 h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  font-weight: 600;
  /* font-size: 22px; */
  font-family: "Orbitron", sans-serif;
  margin-bottom: 10px;
}

.team-card p,
.team-card3 p,
.team-card4 p {
  font-size: 16px;
  font-weight: 400;
  color: #9CA3AF;
  font-family: "Sora", sans-serif;
  border-top: 2px solid rgb(161, 160, 160);
  padding: 10px 0 20px;
  width: 300px;
}

.team-card a,
.team-card3 a,
.team-card4 a {
  display: flex;
  font-family: "Sora", sans-serif;
  background: linear-gradient(90deg, #892CAE 0%, #174993 100%);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.Pricing-section {
  max-width: 1450px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.Pricing-section-cont2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* place-items: center; */
  gap: 30px;
}

.pricing-card,
.pricing-card2,
.pricing-card3 {
  padding: 60px 15px;
  border-radius: 20px;
}

.pricing-card {
  background-color: rgb(37, 20, 40);
  transition: transform 0.3s ease;
}

.pricing-card2 {
  background: linear-gradient(to right, rgb(51, 26, 62), rgb(19, 12, 40));
  transition: transform 0.3s ease;
}

.pricing-card3 {
  background: linear-gradient(to right, rgb(46, 17, 68), rgb(43, 16, 66));
  transition: transform 0.3s ease;
}

.pricing-card:hover,
.pricing-card2:hover,
.pricing-card3:hover {
  transform: translateY(-10px);
}

.pricing-card h2,
.pricing-card2 h2,
.pricing-card3 h2 {
  color: #fff;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing-card > :nth-child(2),
.pricing-card2 > :nth-child(2),
.pricing-card3 > :nth-child(2)  {
  font-size: 36px;
  font-family: "Sora", sans-serif;
  color: #fff;
  font-weight: 600;
}

.pricing-card > :nth-child(2) span,
.pricing-card2 > :nth-child(2) span,
.pricing-card3 > :nth-child(2) span {
  font-size: 14px;
  color: rgb(62, 55, 63);
  font-weight: 400;
}

.checkmarks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.checkmarks p{
  display: flex;
  align-items: center;
  color: #ffff;
  font-family: "Sora", sans-serif;
  font-size: 14px;
  gap: 8px;
  font-weight: 400;
}

.pricing-card > :last-child,
.pricing-card3 > :last-child {
  text-decoration: none;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  color: #ffff;
  text-align: center;
  border: 1px solid;
  border-color: #174993 #892CAE  #892CAE  #174993;
  display: block;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.pricing-card > :last-child::before,
.pricing-card3 > :last-child::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgb(26, 72, 148), rgb(133, 45, 174));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;        
}

.pricing-card > :last-child:hover::before,
.pricing-card3 > :last-child:hover::before {
  opacity: 1;
}

.pricing-card2 > :last-child {
  text-decoration: none;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  color: #ffff;
  text-align: center;
  background: linear-gradient(to right, rgb(26, 72, 148), rgb(133, 45, 174));
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
}

.pricing-card2 > :last-child img {
  transition: transform 0.4s ease;
}

.pricing-card2 > :last-child:hover img{
  transform: translatex(5px);
}

/* .pricing-card2 a {
  display: flex;
  align-items: center;
} */

footer {
  background: linear-gradient( to right, rgb(40, 22, 47), rgb(3, 4, 20));
}

.footer-cont {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 70px; */
  padding: 30px 20px;
}

.footer-top {
  display: flex;
  gap: 70px;
}
.footer-top-left h2 {
  font-family: "Orbitron", sans-serif;
  color: rgb(154, 141, 156);
  font-weight: 700;
  margin-bottom: 15px;

}

.footer-top-left p {
  color: rgb(154, 141, 156);
  font-family: "Sora", sans-serif;
  font-size: 16px;
  width: 250px;
  margin-bottom: 10px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials a:hover {
  transform: translatey(-3px);
}

.socials a {
  transition: transform 0.3s ease;
}

.socials a img{
  filter: grayscale(0.5) opacity(0.6);
}

.footer-top-right h2 {
  font-family: "Orbitron", sans-serif;
  color: rgb(154, 141, 156);
  font-weight: 500;
  margin-bottom: 15px;

}

.footer-top-left h2 img {
  width: 20px;
  filter: grayscale(0.5) opacity(0.6);
  /* opacity: 30px; */
}

.footer-top-right {
  display: flex;
  width: 70%;
  /* justify-content: flex-end; */
  justify-content: space-between;

}

.footer-top-right1 {
  display: flex;
  flex-direction: column;
}

.footer-top-right1 a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(154, 141, 156);
  font-family: "Sora", sans-serif;
  margin-bottom: 10px;
}

.footer-bottom {
  color: #434141;
  font-family: "Sora", sans-serif;
  font-size: 12px;
  font-weight: 400;
  border-top: 2px solid rgb(60, 47, 61);
  padding-top: 12px;
  margin-top: 20px;
}

.footer-bottom p {
  display: flex;
  gap: 10px;
}